*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.title h2 {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
}
.title p {
    word-spacing: 3px;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: center;
    margin: 15px 0px;
}
.content{
    padding: 30px 15px;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 20px ;
    width: 500px;
    margin: auto;
    background-color: #dceaf7;
}
#form1 #input1{
    width: 100%;
    margin: auto;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px ;
    border: none;
    font-size: 20px;
}
#form1 button{
    width: 100%;
    margin: auto;
    padding: 10px 10px;
    border-radius: 5px;
    margin-bottom: 10px ;
    border: none;
    background-color:blue ;
    color: #fff;
    font-size: 18px;
}
.result{
     padding: 10px;
     text-align: center;
}
.result p{
    font-size: 25px;
}
.result #location{
    font-weight: bold;
    text-transform: uppercase;
}
#error{
    color: red;
    font-size: 25px;
}