<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
</head>

<body>

    <div class="hedt">{{title}}</div>

    <div class="header">
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/content">content</a>
        <a href="/instructor">instructor</a>
        <a href="/products">products</a>
    </div>
</body>

</html>