<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <section>
        <div class="title">
            <h2>{{title}}</h2>
            <p>{{desc}}</p>
        </div>
        <div class="content">
            <form id="form1">
                <input type="text" id="input1" placeholder=" Enter Country Name ">
                <button>Search For Weather</button>
            </form>
            <div class="result">
                <p id="location"></p>
                <p id="forecast"></p>
                <p id="error"></p>
            </div>
        </div>

    </section>



    <script src="js/script.js"></script>
</body>

</html>